.login-register-box {
    width: 100%;
    /* background-color: rgb(95, 11, 70); */
}

.login-register {
    height: 100vh;
    background-size: cover;
    align-items: center;
    background-image:url(src/assets/images/background.jpg);
}

.auth-container {
    height: 100%;
    
}

a {
    color: plum;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: plum;
    text-decoration: none;
}

.support-text {
    font-size: 12px !important;
    margin-bottom: 5px;
    font-style: italic;
}

.text-danger {
    color:  #da6474e5;
}

.m-t-15 {
    margin-top: 15px;
}